html, body {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

#container {
    display: flex;
    flex-direction: column;
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
}

#header {
    display: flex;
    align-items: center;
}

button {
    cursor: pointer;
}

#header img {
    height: 40px;
    width: 40px;
}

#header p {
    font-size: large;
    transform: translateY(4px);
    margin-left: 6px;
}

#header button {
    height: 36px;
    width: 36px;
    transform: translateY(4px);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
}

#header button img {
    height: 30px;
    width: 30px;
}

#problem-list {
    display: flex;
    gap: 2px;
}

#problem-list button {
    background-color: red;
}