html, body {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

button {
    cursor: pointer;
}

a {
    color: inherit;
    font-weight: normal;
    font-style: normal;
    font-size: inherit;
    line-height: inherit;
    border: none;
    padding: 0;
    margin: 0;
}

a:hover {
    color: #ff8c00;
}

#table-container {
    display: flex;
    flex-direction: column;
}

#header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

#header img {
    height: 40px;
    width: 40px;
}

#header p {
    font-size: large;
    transform: translateY(4px);
    margin-left: 6px;
}

#refresh-btn {
    width: 38px;
    margin-left: auto;
    display: flex;
}

#delete-all-btn {
    width: 140px;
    border: none;
    background-color: red;
    margin-left: auto;
    margin-right: 14px;
    border-radius: 4px;
    display: none;
}

#refresh-btn,
#delete-all-btn {
    transform: translateY(4px);
    height: 38px;
    justify-content: center;
    align-items: center;
}

#refresh-btn:hover {
    background-color: green;
    border: none;
    border-radius: 10%;
}

#delete-all-btn:hover {
    background-color: darkred;
    border-radius: 4px;
}

#delete-all-btn:hover img {
    filter: invert(80%) sepia(11%) saturate(0%) hue-rotate(213deg) brightness(84%) contrast(90%);
}

#refresh-btn:hover img {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(180deg) brightness(100%) contrast(100%);
}

#refresh-btn img {
    height: 28px;
    width: 28px;
    margin-right: 1px;
}

#problem-table-content button {
    width: 38px;
    height: auto;
    background-color: #1c1c1c;
    border: 0;
}

#problem-table-content button:hover {
    background-color: red;
}

#problem-table-content button:hover img {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(180deg) brightness(100%) contrast(100%);
}

#delete-all-btn p {
    font-size: large;
    padding: 4px;
    color: white;
    text-align: center;
    transform: translateY(0px);
}

#delete-all-btn:hover p {
    color: #999999;
}

#delete-all-btn img {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(180deg) brightness(100%) contrast(100%);
    width: 28px;
}

#table-header > p,
.data > * {
    flex: 1;
    margin: 0;
    border: 1px solid #000;
    padding: 4px;
}

#table-header, .data {
    display: flex;
    width: 500px;
    background-color: #23222b;
}

.problem {
    display: flex;
}

.data:hover {
    background-color: #3a3944;
}

iframe {
    display: none;
    margin: 0 auto;
}

#leetcode-logo {
    width: auto !important;
    height: 40px !important;
}

#extension-container {
    background-color: #1c1c1c;
    padding: 6px 20px 20px 20px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

#login-screen {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
}

#login-button {
    display: flex;
    background-color: #FFF;
    color: #777777;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding-right: 15px;
    border-color: #FFF;
    border-radius: 5px;
}

#login-button:hover {
    background-color: #4285f4;
    border-color: #4285f4;
    color: #FFF
}

#google-logo {
    width: 35px;
    height: 35px;
    padding: 10px;
    background-color: #FFF;
    border-radius: 5px;
}

#login-header {
    display: flex;
    align-items: center;
}

#leetcode-repetition-logo {
    width: 40px;
    height: 40px;
}